<%- include("partials/header") %>

<span class="border" style="wrap">


  <br>
  <br>
  <h1 class="display-2" style="text-align: center;">Welcome to ODIO a completely anonymous social media site.</h1>
  <p class="lead">ODIO is a anonyous secure social media site you can Post your true thoughts and not have to worry about being censored.</p>

  



</span>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://www.collthings.co.uk/wp-content/uploads/2014/11/CyberSecurity-53.jpg" class="d-block w-100 mx-auto" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://cdn.pixabay.com/photo/2018/05/14/16/25/cyber-security-3400657_960_720.jpg" style="" class="d-block w-100 mx-auto" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://cdn.pixabay.com/photo/2016/05/10/21/50/meditation-1384758_960_720.jpg" style="" class="d-block w-100 mx-auto" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" style=""  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" style=""  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<%- include("partials/footer") %>